* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background: #f5f7fa;
    color: #fff;
}

/* NAVBAR */
.navbar {
    width: 100%;
    background: #004A99;
    padding: 18px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo {
    width: 55px;
    border-radius: 6px;
}

.nav-links a {
    color: #e7e7e7;
    text-decoration: none;
    margin: 0 14px;
    font-weight: 600;
    transition: 0.3s;
    font-size: 15px;
}

.nav-links a:hover {
    color: white;
    text-shadow: 0 0 10px #fff;
    transform: scale(1.05);
}

.social-icons img {
    width: 26px;
    margin-left: 12px;
    transition: 0.3s;
}

.social-icons img:hover {
    transform: scale(1.15);
}

/* HERO */
.hero {
    display: flex;
    padding: 60px 50px;
    background: #003366;
    color: #fff;
    justify-content: center;
    align-items: center;
}

.hero-left img {
    width: 580px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

.hero-right {
    margin-left: 50px;
    max-width: 600px;
}

.hero-right h1 {
    font-size: 2.9rem;
    font-weight: 800;
    line-height: 1.3;
}

.highlight {
    color: #5dccff;
}

.hero-right p {
    margin-top: 20px;
    font-size: 1.25rem;
    color: #e8e8e8;
}

.contact-btn {
    margin-top: 35px;
    padding: 16px 32px;
    background: #008CFF;
    border: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.contact-btn:hover {
    background: #0b7dda;
    transform: translateY(-3px);
    box-shadow: 0 8px 15px rgba(0,0,0,0.2);
}

/* ANIMATIONS */
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1s forwards;
}

.delay-1 {
    animation-delay: 0.4s;
}

.delay-2 {
    animation-delay: 0.7s;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-right {
        margin-left: 0;
        margin-top: 30px;
    }

    .hero-left img {
        width: 90%;
    }
}
